<div class="layout-container">
    
    <!-- START SITE HEADER AREA -->
	<header role="banner">
		<div class="published">
			<p>Published by the Australian Commission on Safety and Quality in Healthcare - <a href="http://www.safetyandquality.gov.au" target="_blank">www.safetyandquality.gov.au</a></p>
		</div>
		<div class="headerBlock">
			<div class="logoBlock">
                <a href="http://www.safetyandquality.gov.au" target="_blank">
				    <img src="/themes/custom/saq7704/images/logo.jpg" alt="Australian Commission on Safety and Quality in Health Care" />
                </a>
			</div>
			<div class="titleBlock">
                <p><a href="/home">Communicating for Safety resource portal</a></p>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="navButton-wrapper">
			<div class="navButton-content">
				<button id="openNav">MENU</button><button id="closeNav">CLOSE</button>
			</div>
		</div>
		<nav role="navigation" class="navBlock">
			{{ page.top_menu }}
		</nav>
		<div class="coreSkills">
			<div class="coreSkills-content">
				<p>Core skills for communicating for safety</p>
			</div>
		</div>
		<div class="headerFeatures-wrapper">
			<div class="headerFeatures">
				<a class="hf-Block" href="/communicating-with-patients-and-colleagues">
					<img class="hf-image" src="/themes/custom/saq7704/images/communication.png" aria-hidden="true" alt="" />
					<p>Communicating <span>with patients and colleagues</span></p>
					<div style="clear:both"></div>
				</a>
				<a class="hf-Block" href="/documenting-information">
					<img class="hf-image" src="/themes/custom/saq7704/images/documenting.png" aria-hidden="true" alt="" />
					<p>Documenting <span>information</span></p>
					<div style="clear:both"></div>
				</a>
				<div class="hf-Block searchBlock">
					<img class="searchIcon" src="/themes/custom/saq7704/images/icon_search.png" alt="" aria-hidden="true" />
					{{ page.search }}
					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</header>
    
    <main role="main">
    
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
        
        {% if page.content_main %}
          <article class="pageTop-wrapper" role="complementary">
            <div class="pageTop">
				<img src="/themes/custom/saq7704/images/comms4safetylogo.png" alt="" aria-hidden="true" />
				<!--<h1>Communicating for safety</h1>-->
                {{ page.content_main }}
				<div style="clear:both"></div>
			</div>
          </article>
        {% endif %}
        
        <!-- START TABBED SECTION -->
		<div class="wrapperGrey">
			<div class="contentWrapper">
				<h2>Communication guidance about different touchpoints of patient care</h2>
				<div class="responsive-tabs">
					<h2>Arrives</h2>
					<div class="homeTab">
                        {{ page.homeTab_arrives }}
					</div>
					<h2>Receives&nbsp;care</h2>
					<div class="homeTab">
                        {{ page.homeTab_receives_care }}
					</div>
					<h2>Transferred</h2>
					<div class="homeTab">
                        {{ page.homeTab_transferred }}
					</div>
					<h2>Critical&nbsp;information</h2>
					<div class="homeTab">
                        {{ page.homeTab_critical_information }}
					</div>
					<h2>Deterioration</h2>
					<div class="homeTab">
                        {{ page.homeTab_deterioration }}
					</div>
					<h2>Leaves</h2>
					<div class="homeTab">
                        {{ page.homeTab_leaves }}
					</div>
					<h2>In&nbsp;the&nbsp;community</h2>
					<div class="homeTab">
                        {{ page.homeTab_in_the_community }}
					</div>
				</div>
			</div>
		</div>
        <!-- END TABBED SECTION -->
        
        <!-- START MOST POPULAR COMMUNICATION GUIDANCE -->
		<article class="contentWrapper">
			<div class="popComs">
				<div class="questionBlock">
                    {{ page.mpcg }}
				</div>
				<div class="featureWrapper">
					{{ page.home_feature_blocks }}
				</div>
			</div>
		</article>
		<!-- END MOST POPULAR COMMUNICATION GUIDANCE -->
        
        <!-- START RESOURCES SECTION -->
		<article class="contentWrapper removeTopMargin">
            
			<div class="home_resources-wrapper">
            {{ page.home_resources }}
            </div>
            
			<div class="cta-align-right">
				<a class="cta" href="/resources">See all communicating for safety resources</a>
			</div>
            
		</article>
		<!-- END RESOURCES SECTION -->

    </main>

    <!-- START SITE FOOTER AREA -->
	<footer role="contentinfo" class="footerWrapper">
		<div class="footerBlock-wrapper">
            <div class="footerBlock">
				<h2>Find us</h2>
				<p>T: +61 2 9126 3600 <br />
					F: +61 2 9126 3613 <br />
					E: <a href="mailto:mail@safetyandquality.gov.au">mail@safetyandquality.gov.au</a>
				</p>
				<p>GPO Box 5480, Sydney NSW 2001</p>
			</div>
			<div class="footerBlock">
				<h2>Contact</h2>
				<p>For further information please contact <a href="mailto:comms.forsafety@health.gov.au">comms.forsafety@health.gov.au</a></p>
			</div>
			<div class="footerBlock">
				<h2>Missing information</h2>
  				<p>Seen a missing/broken link? Please contact <a href="mailto:comms.forsafety@health.gov.au">comms.forsafety@health.gov.au</a></p>
			</div>
		</div>
		<div class="footerNav-wrapper">
			<div class="footerNav-left">
                <div class="disclaimer">
                    <p><strong>Disclaimer:</strong></p>
                    <p>All the material published on the Australian Commission on Safety and Quality in Health Care’s Communicating for Safety resource portal is for information purposes only. The material contained on this site may include the views or recommendations of third parties, and does not necessarily reflect the views of the Commonwealth of Australia, or indicate a commitment to a particular course of action.</p>
                    <p>This site may contain references to other sites and these are provided for convenience only and should not be construed as an endorsement by the Commonwealth of Australia; conversely omissions should not be construed as non-endorsement.</p>
                    <p>The Commonwealth of Australia does not warrant or represent that the information contained on this site is accurate, current or complete. Users should exercise their own independent skill or judgement or seek professional advice before relying on it.</p>
                    <p>The Commonwealth of Australia does not accept any legal liability or responsibility for any injury, loss or damage incurred by the use of, or reliance on, or interpretation of, the information contained on this site.</p>
                    {{ page.footer }}
                </div>
				<p>&copy; Copyright {{ 'now'|date('Y') }} ACSQHC. All rights reserved.</p>
			</div>
			<div style="clear:both"></div>
		</div>
	</footer>
	<!-- END SITE FOOTER AREA -->
    
    

</div>{# /.layout-container #}

<script>
(function ($) {
	$(document).ready(function() {
		RESPONSIVEUI.responsiveTabs();
	})
})(jQuery);
</script>
